<!-- this is the post loop - each post will be output using this markup -->
{{#foreach posts}}
    <article class="{{post_class}}">
        {{#if image}}
            <figure class="post-featured-img">
                <a href="{{url}}">
                    <img src="{{image}}" alt="{{title}}" />
                </a>
            </figure>
        {{/if}}

        <header class="post-header">
            <h2 class="post-title">
                <a href="{{url}}">{{title}}</a>
            </h2>
        </header>
        
        <footer class="post-meta">
            {{#if autor.image}}<img class="author-thumb" src="{{autor.image}}" alt="{{author.name}}" />{{/if}}
            {{autor}}

            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
                {{date format="DD MMMM YYYY"}}
            </time>

            <div class="post-tags">
                {{tags}}
            </div>
        </footer>
    </article>
{{/foreach}}

<!-- Previous/next page links - displayed on every page -->
{{pagination}}
